{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container mt-5">
    <div class="text-center py-5">
        <form method="GET" class="my-3">
            <input type="text" name="q" placeholder="Search offers">
            <button type="submit" class="btn btn-primary">Search</button>

        </form>
        
        <h2>Welcome </h2>
        <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            {% for offer in all_offers %}
                <tr>
                    <td>{{ offer.user }}</td>

                    <td>{{ offer.mytype }}</td>
                    <td>{{ offer.amount }}</td>
                    <td>{{ offer.start_date }}</td>
                    <td>{{ offer.end_date }}</td>
                    <td><a type="submit" class="btn btn-primary" href="{% url 'edit' offer.id %}">Edit</a></td>
                    <td><a type="submit" class="btn btn-danger" href="{% url 'remove'  offer.id %}">Delete</a></td>
                   

                </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No offer found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       
        </div>
    </div>
   
</div>
{% endblock %}